@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Inter-Regular.woff2') format('woff2'),
    url('/font/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/font/Inter-Medium.woff2') format('woff2'),
    url('/font/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/font/Inter-Bold.woff2') format('woff2'),
    url('/font/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('/font/Rubik-Light.woff2') format('woff2'),
    url('/font/Rubik-Light.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Rubik-Regular.woff2') format('woff2'),
    url('/font/Rubik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('/font/Rubik-Medium.woff2') format('woff2'),
    url('/font/Rubik-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('/font/Rubik-Bold.woff2') format('woff2'),
    url('/font/Rubik-Bold.woff') format('woff');
}
